<ion-content>
  <div class="container">
    <div class="banner">About Us</div>
    <div class="wrapper">
      <h5>The quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog.the quick brown fox jump over the lazy dog. the quick brown fox jump over the lazy dog</h5>
      <ion-img src="../../assets/Logo1.png" class="logo-img aboutus-fab"></ion-img>
    </div>
  </div>
</ion-content>
