form {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.proponent-info{
  background: rgb(102, 153, 153);
  background: linear-gradient(
    86deg,
    rgba(102, 153, 153, 1) 10%,
    rgba(255, 102, 51, 1) 140%
  );
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  font-weight: 200;
  padding: 10px;
}

.add{
  background: rgb(102, 153, 153);
  background: linear-gradient(86deg, rgba(102, 153, 153, 1) 10%, rgba(255, 102, 51, 1) 140%);
  cursor: pointer;
  border-radius: 20px;
  padding: 0;
  margin-top: 10px;
  color: white;
  width: 350px;

  ion-img {
    width: auto;
    height: 25px;
  }
  
  ion-card-content {
    text-align: center;
    padding: 0;
  }
}

.project-info{
  background: rgb(102, 153, 153);
  background: linear-gradient(
    85deg,
    rgba(102, 153, 153, 1) 40%,
    rgba(255, 102, 51, 1) 130%
  );
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  font-weight: 200;
  padding: 10px;

  ion-label {
    padding-left: 10px;
  }

  .row {
    input {
      width: 160px;
    }
  }

  .row:first-child {
    margin-top: 10px;
  }

  .card-payment {
    display: flex;
    flex-direction: column;

    ion-checkbox {
      --checkbox-background: transparent;
      --border-width: 3px;
      --border-color: white;
    }

    ion-col {
      display: flex;
      align-items: center;
    }

    ion-row:first-child {
      margin-bottom: 10px;
    }

    ion-label {
      color: white;
      font-weight: 400;
    }
  }

  ion-card-content {
    text-align: center;
    padding-bottom: 0;
  }

  .project-info-card {
    ion-label {
      margin-top: 10px;
    }
  }
}

.project-details{
  background: rgb(102, 153, 153);
  background: linear-gradient(
    85deg,
    rgba(102, 153, 153, 1) 32%,
    rgba(255, 102, 51, 1) 150%
  );width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  font-weight: 200;
  padding: 10px;

  textarea {
    text-indent: 5px;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-weight: 200;
    outline: none;
  }

  ion-label{
    padding-left: 10px;
  }

  .large{
    resize: none;
    width: 100%;
    height: 60px;
    color: black;
  }
}

.project-details-add{
  background: rgb(102, 153, 153);
  background: linear-gradient(
    85deg,
    rgba(102, 153, 153, 1) 32%,
    rgba(255, 102, 51, 1) 150%
  );
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  font-weight: 200;
  padding: 10px;

  .funding {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 290px;
    height: 130px;

    input {
      border-radius: 5px;
      height: 20px;
      word-break: break-word;
    }
  }

  .social-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 130px;

    div {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
    }

    input {
      border-radius: 5px;
      height: 20px;
    }
  }

  .social-media {
    width: 300px;
    .social-links {
      display: flex;
      flex-direction: column;
      gap: 5px;

      div {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
      }

      input {
        width: 230px;
        border-radius: 5px;
        height: 20px;
      }
    }
  }

  ion-card-content {
    text-align: center;
    padding-bottom: 0;
  }

  ion-img {
    width: auto;
    height: 35px;
  }

  .add-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // border: 2px solid red;
  }

  .img {
    padding: 10px;
    width: 80px;
    height: 55px;
    cursor: pointer;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.for-mobile {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

ion-card-title {
  color: white;
  text-align: center;
}

input {
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  height: 25px;
  color: black;
  text-indent: 5px;
  font-size: 15px;
  font-weight: 200;
  outline: none;
  margin: 3px 0;
  width: 100%;
}

ion-label {
  text-indent: 10px;
  margin: 5px 0;
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 10px;
}

.btn {
  background-color: rgba(102, 153, 153, 1);
  color: white;
  border-radius: 5px;
  padding: 5px 25px;
  font-weight: 200;
  cursor: pointer;
  font-size: 15px;
  height: 35px;
}

.disabled-btn:disabled{
  background-color: gray;
}