<ion-content>
  <div class="container">
    <ion-img src="../../assets/Logo1.png" class="logo-img signup-fab"></ion-img>
    <ion-card class="card">
      <ion-label class="indent">First Name:</ion-label>
      <input type="text">
      <ion-label class="indent">Last Name:</ion-label>
      <input type="text">
      <ion-label class="indent">Department:</ion-label>
      <input type="text">
      <ion-label class="indent">Email Address:</ion-label>
      <input type="email">
      <ion-label class="indent">Password:</ion-label>
      <input type="password">
      <ion-label class="indent">Re Enter Password:</ion-label>
      <input type="password">
      <div class="signup-btn" routerLink="/login">Sign Up</div>
    </ion-card>
  </div>
</ion-content>
